<!DOCTYPE html>
<html>
<head>
    <style>
        html {
            background: url(galaxy.jpg) no-repeat center fixed;
            background-size: cover;
        }

        body {
            color: white;
        }
    </style>
</head>
<body>

    <h1>WELCOME TO MY WEBSITE</h1>
    
    <p>
    <a href="HtmlPage3.html">Resume Page</a> <br />


    <a href="#">Contact Me</a></body> </p>


</body>
</html>
